In [2]:
import pandas as pd

In [16]:
data = pd.read_csv('/Users/tommy/Desktop/ADM-5/wikigraph_reduced.csv', delim_whitespace=True)

In [17]:
data.head()

        0        1
796    95  1185516
909   108  1059989
910   108  1062426
911   108  1161925
1141  134   541222

In [127]:
data.iloc[:,1]

796         1185516
909         1059989
910         1062426
911         1161925
1141         541222
             ...
28511768    1060990
28511769    1061382
28511771    1110380
28511772      80740
28511785     235100
Name: 1, Length: 483094, dtype: int64

In [92]:
data1 = (data.iloc[:,1],data.iloc[:,0])

In [186]:
for i in range(len(data)):
    if data.iloc[i][0] == data.iloc[i][1]:
        print(data.iloc[i],'yes')
        break

0    27676
1    27676
Name: 534214, dtype: int64 yes

In [ ]:
#the graph cointains loop

In [106]:
data1 = data

In [112]:
prova = data.merge(data1, left_on='1', right_on='0')

In [141]:
for i in range(len(prova)):
    if prova.iloc[i][0] == prova.iloc[i][-1]:
        print(i,'yes')
        break

36 yes

In [143]:
prova1 = prova.iloc[36]
prova1

0_x     137144
1_x    1059989
0_y    1059989
1_y     137144
Name: 36, dtype: int64

In [140]:
l = list(prova1.unique())

In [146]:
#df.loc[df['column_name'] == some_value]

In [151]:
col1 = data.loc[data['0']== l[0]]
col2 = data.loc[data['1']== l[0]]

In [152]:
col1

              0        1
2455575  137144   687546
2455576  137144   688739
2455577  137144  1059989
2455578  137144  1060884
2455583  137144  1151659

In [153]:
col2

                0       1
10550781   687546  137144
10565955   688739  137144
15982588  1059989  137144
16055893  1060884  137144

In [180]:
a = []
b = []
for i in range(len(col1)):
    a.append(col1.iloc[i,1])
for j in range(len(col2)):
    b.append(col2.iloc[j,0])

In [183]:
A = set(a)
B = set(b)
A.intersection(B)

{687546, 688739, 1059989, 1060884}

In [184]:
#the graph is orinted